@charset "utf-8";

/*body {*/
    /*background-color: #eaeaea;*/
    /*background-image: url("background.png");*/
/*}*/

body {
    margin: 20px auto 0;
}
body.horizontal {
    width: 950px;
    margin-bottom: 300px;
}
body.vertical {
    width: 850px;
    margin-bottom: 200px;
}

a:active, a:visited {
    outline: 0;
}

#menu {
    width: 380px;
    margin: 0 auto;
    height: 36px;
}
#menu a {
    font-family: "Arial Narrow", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #fafafa;
    background-color: #b5b5b5;
    padding: 8px 15px;
    text-decoration: none;
    display: block;
    float: left;
    width: 150px;
    border: none;
}
#menu a:hover {
    color: #505050;
    background-color: #fafafa;
}
#menu a.selected {
    color: #505050;
    background-color: #f7f7f7;
}
#menu a.selected .label {
    background-image: url("drop.png");
    background-repeat: no-repeat;
    background-position: center right;
}

.horizontal .modern-menu {
    margin-top: 250px;
}
.vertical .modern-menu {
    margin-top: 120px;
}
.modern-menu.theme1 {
    margin-top: 70px;
}