#notics{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 999999;
    background-color: rgba(0,0,0,0.8);
    display: none;
    overflow-y: auto;
}
#notics .notics-body{
    width:800px;
    margin:30px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 50px rgba(255, 0, 0, 1) inset;
    border-radius: 10px;
}
#notics .notics-body .text{
    font-size:30px;
    height: 600px;
    word-break: break-all;
    overflow-y: auto;
    /*white-space: pre;*/
}
.contestHomeText{
    padding-left: 12ex;
    text-indent:-12ex;
    line-height: 1.3;
}
.input-answer{
    padding: 3px;
    height: 25px;
}