<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>WebSocket</filter-name>
        <filter-class>util.ReDispatcherFilter</filter-class>
        <init-param>
            <param-name>includeServlets</param-name>
            <param-value>WebSocket,MatchWebSocket,AI_PVE</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>WebSocket</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            util.MyStruts2Filter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>WebSocket</servlet-name>
        <servlet-class>
            WebSocket.SocketServer
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebSocket</servlet-name>
        <url-pattern>/WebSocket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MatchWebSocket</servlet-name>
        <servlet-class>
            WebSocket.MatchServer
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchWebSocket</servlet-name>
        <url-pattern>/MatchWebSocket</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AI_PVE</servlet-name>
        <servlet-class>
            WebSocket.GameSocketServer
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>AI_PVE</servlet-name>
        <url-pattern>/AI_PVE</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Init</servlet-name>
        <servlet-class>util.Init</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Init</servlet-name>
        <url-pattern>/Init</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
</web-app>