#challenge-main{
    width:1px;
    margin-left:50%;
    height: 700px;
    position: relative;
}
.block{
    position: absolute;
    border-radius: 50%;
    /*transition-duration: 0.3s;*/
}
.block:hover{
    box-shadow: 0 0 10px #00db00;
    /*transform: scale(1.1);*/
}
.block-close{
    border: 1px solid #ff0900;
}
.block-close .title{
    color: #000000
}

.block-set{
    width:100px;
    height: 100px;
    border-radius: 20%;
}
.block-set .title{
    color: #000000;
    height: 98px;
    width: 98px;
    display: table-cell;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}

.block-set:hover{
    box-shadow: 0 0 10px #5e5f63;
}
.block-close:hover{
    box-shadow: 0 0 10px #ff0900;
    /*transform: scale(1.1);*/
}
.block-large{
    width:100px;
    height: 100px;
}
.block-large .title{
    height: 98px;
    width: 98px;
    display: table-cell;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.block-middle{
    width:80px;
    height: 80px;
}
.block-middle .title{
    height: 78px;
    width: 78px;
    display: table-cell;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
}
.block-small{
    width:60px;
    height: 60px;
}
.block-small .title{
    height: 58px;
    width: 58px;
    display: table-cell;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}
.paragraph{
    padding-left: 2em;
}
.hidden-text{
    color: #000000;
    background-color: #000000;
}
.hidden-text::selection{
    color: #000000;
    /*background-color: #000000;*/
    text-shadow: 0 1px 3px #ffffff, 1px 0 3px #ffffff, 0 -1px 3px #ffffff, -1px 0 3px #ffffff;
}
.hidden-text::-moz-selection {
    color: #000000;
    /*background-color: #000000;*/
    text-shadow: 0 1px 3px #ffffff, 1px 0 3px #ffffff, 0 -1px 3px #ffffff, -1px 0 3px #ffffff;
}