.right-block {
    float:right;
}
.panel-default{
    box-shadow: 0 0 10px #aaaaaa;
}
.panel-info{
    box-shadow: 0 0 10px #aaaaff;
}
.panel-danger{
    box-shadow: 0 0 10px #aa8888;
}
.panel-primary{
    box-shadow: 0 0 10px #8888ff;
}
.panel-success{
    box-shadow: 0 0 10px #88aa88;
}
.panel-warning{
    box-shadow: 0 0 10px #d5c393;
}
.nomargin{
    margin:0;
}
html{
    height:100%;
}
body{
    background: #fafcff;
    font-family:"微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    height:100%;
}
.container-fluid{
    min-height: calc(100% - 136px);
    padding-bottom: 10px;
}
.foot{
    /*min-height: 25%;*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*background-color: #AAA;*/
    /*width: 90%;*/
    padding: 20px 10% 20px 10% ;
    background-color: #EEEEEE;
}
.break{word-break: break-all}
.table-small{
    font-size:13px;
}
.table-small tbody>tr>td,.font-small thead>tr>td{
    padding:4px;
}
.head-0{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.head-1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.head-2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.padding-1{
    padding-left: 20px;
    padding-top:0;
}
.panel-default .discussleft{
    background-color: #f5f5f5;
}
.panel-danger .discussleft{
    background-color: #f2dede;
}
.panel-primary .discussleft{
    background-color: #337ab7;
}
.panel-info .discussleft{
    background-color: #d9edf7;
}
.panel-success .discussleft{
    background-color: #dff0d8;
}
.panel-warning .discussleft{
    background-color: #fcf8e3;
}
.discussleft{
    float:left;
    vertical-align: top;
    padding:10px;
    height: 100%;
    /*margin-left:15px;*/
    /*margin-right: 15px;*/
    text-align: center;
    /*width: 100px;*/
}
.discussright{
    vertical-align: top;
    padding: 15px;
    word-break:break-all;
}
.adminreply{
    border-radius: 5px;
    border: 1px dashed #808080;
    padding: 5px;
    margin:20px;
    font-size: 10px;
    background-color: #f5f5f5;
}
pre {
     white-space: pre-wrap;
     word-wrap: break-word;
 }
.userindex{
    background-image: url("../pic/userindex.jpg");
    background-repeat: round;
    padding: 30px 30px 30px 30px;
    color:white;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #aaaaaa;
}
.userindex .modal{
    color:black;
}
.form-inline .form-group{
    margin-right: 3px;
}
.container-fluid{
    width:88%;
    min-width:1000px;
    margin: 0 auto;
}
table{
    font-size: 14px;
}

.adminNAV .nav-pills > li > a{
    border-radius:0;
    transition-duration: 0.3s;
}
.adminNAV .nav-pills > li :hover{
    padding-left:30px;
}
.btn-toolbar .btn-group .btn{
    transition-duration: 0.2s;
}
/*.btn-toolbar .btn-group .btn-default:hover{*/
    /*background-color: skyblue;*/
/*}*/
/*.btn-toolbar .btn-group .btn-default:hover{*/
    /*background-color: skyblue;*/
/*}*/