.chat{
    width:300px;
    height:400px;
    background-color: rgba(136, 150, 255, 0.6);
    border-radius: 5px;
    border: 2px solid #0f6dff;
    position:fixed;
    bottom:50px;
    right:10px;
}
.chat .online{
    float:left;
    width:100px;
    height:354px;
    border-right: 2px solid #0f6dff;
    padding-left:4px;
}
.chat .chat-body{
    height: 354px;
    float:left;
    width:190px;
    overflow-y: auto;
    word-break: break-all;
}
.chat .chat-form{
    float:left;
    padding:5px;
    border-top: 2px solid #0f6dff;
    width:290px;
}
.chat-switch{
    width:100px;
    height:30px;
    line-height: 30px;
    position:fixed;
    bottom:10px;
    right:10px;
    text-align: center;
    border: 2px solid #0f6dff;
    border-radius: 5px;
}
.chat-switch.open{
    background-color: #c7dbff;
}
.chat-switch.close{
    background-color: #8896ff;
}
.debug{
    width:300px;
    height:200px;
    background-color: #ff828c;
    border-radius: 5px;
    border: 2px solid red;
    position:fixed;
    bottom:50px;
    left:10px;
}
.debug .title{
    background-color: #ff5d61;
    margin-bottom: 3px;
    text-align: center;
    font-size: 20px;
}
.debug .body{
    height:193px;
    word-break: break-all;
    overflow-y:auto;
    padding:3px;
}
.debug-switch{
    width:300px;
    height:30px;
    line-height: 30px;
    position:fixed;
    bottom:10px;
    left:10px;
    text-align: center;
    border: 2px solid red;
    border-radius: 5px;
}
.debug-switch.open{
    background-color: #ffcad8;
}
.debug-switch.close{
    background-color: #ff5461;
 }
.row{
    position: absolute;
}
.row .col{
    background-color: #c9cacc;
    float:left;
    margin-right: 2px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}
.row.head .col{
    background-color: #b6b3ff;
}
.row .col.ac{
    background-color: #00ab00;
}
.row .col.wa{
    background-color: #ff5f5f;
}
.row .col.nores{
    background-color: mediumslateblue;
}
.col.rank{
    width:30px;
}
.col.username{
    width:150px;
}
.col.nick{
    width:150px;
}
.col.S{
    width:30px;
}
.col.W{
    width:50px;
}
.col.pro{
    width:70px;
}
.form-control {
    float:left;
    width:225px;
    margin-right: 5px;
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    color: #333;
    background: #fff none;
    border: 1px solid #ccc;
    transition-duration: 0.3s;
}
.btn:hover{
    background-color: deepskyblue;
    transition-duration: 0.1s;
}